<div class="page-body">
  <h1>Register</h1>
  <form [formGroup]="registerForm" novalidate>
    <div class="form-group">
      <div class="form-control">
        <label>Username:
          <input formControlName="username">
          <p [hidden]="username.valid">Username is required</p>
        </label>
      </div>

      <div class="form-control">
        <label>Password:
          <input type="password" id="password" formControlName="password">
        </label>
        <p [hidden]="password.valid">Password is required</p>
      </div>

      <div class="form-control">
        <label>Password:
          <input type="email" id="email" formControlName="email">
        </label>
        <p [hidden]="password.valid">Email is required</p>
      </div>
    </div>
    <button (click)="submit()" [disabled]="!registerForm.valid">Register</button>
  </form>
</div>
