<div class="page-body" id="register-page">
  <h2 class="mat-h2">Register</h2>
  <form [formGroup]="registerForm" novalidate>
    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf="username.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" formControlName="password" type="password">
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" type="email">
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="email.hasError('email')">
          Not a valid <strong>email</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button class="mat-primary" (click)="submit()" [disabled]="!registerForm.valid">Register</button>
    <a mat-button class="mat-accent" routerLink="/login">Login</a>
  </form>
</div>
