<div class="page-body">
  <h2 class="mat-h2">New Issue</h2>
  <form [formGroup]="issueForm" novalidate>
    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Description" formControlName="description">
        <mat-error *ngIf="description.hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Location" formControlName="location">
        <mat-error *ngIf="location.hasError('required')">
          Location is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button class="mat-primary" (click)="submit()" [disabled]="!issueForm.valid">Send</button>
    <a mat-button class="mat-accent" routerLink="/issues">Back</a>
  </form>
</div>
