<div class="page-body">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1 class="mat-h1">{{issue.location}}</h1></mat-card-title>

      <mat-card-subtitle>
        <mat-form-field>
          <mat-select placeholder="Status" (change)="updateStatus()">
            <mat-option *ngFor="let status of ['ADDED','ONGOING','READY']" [value]="issue.status">
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h2 class="mat-h2">{{issue.description}}</h2>

      <p>Messages:</p>
      <ul id="comments">
        <li *ngFor="let comment of issue.messages">
          <mat-card class="comment">
            {{comment.message}}
          </mat-card>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <mat-input-container>
        <input matInput [(ngModel)]="message" placeholder="Message" />
      </mat-input-container>
      <button mat-raised-button class="mat-accent" (click)="submit()">Submit message</button>
    </mat-card-actions>
  </mat-card>
</div>
