<div class="page-body">
  <h1 class="mat-h1">Issues</h1>

  <mat-table #table [dataSource]="issues">
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef> Location</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.location}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <mat-header-cell *matHeaderCellDef> Timestamp</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.timeStamp | date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button (click)="edit(element.id)">Edit</button>
        <button mat-button (click)="delete(element)" class="mat-accent">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
